/******************
 * HEADER
 *****************/
.jumbotron {
	background: #EE306A;
	background: -webkit-linear-gradient(-25deg, #EE3041, #EE30AA);
	background: -moz-linear-gradient(-25deg, #EE3041, #EE30AA);
	background: linear-gradient(-25deg, #EE3041, #EE30AA);
	text-align: center;
	color: #fff;
	font-family: sans-serif;
}

.jumbotron p {
	text-transform: lowercase;
	font-variant: small-caps;
}

code {
	font-family: 'Source Code Pro',Menlo,Monaco,Consolas,"Courier New",monospace;
	font-weight: 200;
}

/******************
 * TEAM
 *****************/
.team {
	margin: 50px -15px;
}

.team .avatar {
	border-radius: 5px;
}
.team .avatar:hover {
	-webkit-filter: sepia(1);
}


@media (max-width: 991px) {
	.team .col-xs-6:first-child, .team .col-xs-6:nth-child(2) {
		margin-bottom: 25px;
	}
}

@media (max-width: 450px) {
	.team .col-xs-6 {
		margin-bottom: 25px;
	}

	.team .col-xs-6:last-child {
		margin-bottom: 0;
	}

	.col-xs-6 {
		margin-left: 16.66666667%;
		width: 66.66666667%;
	}
}

/**
 * Winnings
 */

.winnings {
	font-size: 140%;
	margin-top: 20px;
	text-align: center;
}

.fa-trophy {
	color: #F4BB2D;
}
/******************
 * PROJECTS
 *****************/
.project {
	margin-bottom: 30px;
	width: 100%;
}

.blown-over {
	background-image: url(project-blownover.png);
	background-position: center top;
	background-size: cover;
	padding: 60px 40px;
}

.blown-over h3 {
	text-align: right;
	color: #980000;
	color: #D81937;
	margin-top: 0;
}

.blown-over p {
	text-align: right;
	color: white;
	color: #E0E0E0;
	margin-left: 50%;
	margin-bottom: 0;
}

.blown-over img {
	position: relative;
	margin-top: -20%;
	margin-left: 90px;
}

@media (min-width: 992px) {
	.blown-over img {
		margin-top: -35%;
		margin-left: 70px;
	}
}

a.project-link:hover {
	text-decoration: none;
}

.third-world {
	background: url(project-thirdworldproblem.png);
	background-position: bottom right;
	padding: 70px 40px;
}

.third-world h3 {
	/*text-align: center;*/
	color: white;
	text-shadow: 2px 2px 1px black;
}

.third-world div {
	/*background: rgba(0,0,0,.8);*/
	/*color: black;*/
	/*padding: 10px 0;*/
}

.third-world p {
	/*text-align: center;*/
	/*margin-left: 0;*/
	text-shadow: 2px 2px 1px black;
}

.crapchat {
	background: url(project-crapchat.png);
	background-position: bottom right;
	padding: 85px 40px;
}

.crapchat h3 {
	color: #f8e502;
	text-shadow: 2px 2px 1px black;
}

.crapchat p {
	text-shadow: 2px 2px 1px black;
}

.knockoffia {
	background: url(project-knockoffia.png);
	background-position: bottom right;
	padding: 85px 40px;
}

.knockoffia h3 {
	color: #b6c38d;
	text-shadow: 2px 2px 1px black;
}

.knockoffia p {
	text-shadow: 2px 2px 1px black;
}

.pixely {
	background: url(project-pixely.png);
	background-position: bottom left;
	padding: 85px 40px;
}

.pixely h3 {
	color: #ee305f;
	text-shadow: 2px 2px 1px black;
}

.pixely p {
	text-shadow: 2px 2px 1px black;
}

.trump {
	background: url(project-trump.jpg);
	padding: 85px 40px;
	text-shadow: 2px 2px 1px black;
}

.trump p {
	text-shadow: 2px 2px 1px black;
}

.trump-red {
	color: #F23D46;
}

.trump-blue {
	color: #1CA6F6;
}

.trump-white {
	color: white;
}
